<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true"
    style="background-image: url('./assets/img/fabio-mangione.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="name">
            <h4 class="title">Listado de Proveedores</h4>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">NIT</th>
                <th scope="col">Razon Social</th>
                <th scope="col">Telefono</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of proveedores; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item.nit }}</td>
                <td>{{ item.razonSocial }}</td>
                <td>{{ item.telefono }}</td>
                <td style="text-align: center;">
                  <a (click)="openModal(editModal, item)" class="btn btn-link btn-default btn-table">Editar</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-4">
          <h4 class="title">Nuevo Proveedor</h4>

          <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            <fieldset [disabled]="!canSubmit">
              <div class="form-group">
                <label>Razon Social</label>
                <input name="razonSocial" type="text" class="form-control" ngModel>
              </div>

              <div class="form-row">
                <div class="form-group col">
                  <label>Telefono</label>
                  <input name="telefono" type="text" class="form-control" ngModel>
                </div>

                <div class="form-group col">
                  <label>NIT</label>
                  <input name="nit" type="text" class="form-control" ngModel>
                </div>
              </div>

              <div class="form-group">
                <label>Tipo</label>
                <select name="esGranSuperficie" class="form-control" ngModel>
                  <option [ngValue]="true">Gran superficie</option>
                  <option [ngValue]="false">Minorista</option>
                </select>
              </div>

              <hr>

              <button type="submit" class="btn btn-outline-danger btn-round">
                Guardar
              </button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #editModal let-modal>
  <form #formEdit="ngForm" (ngSubmit)="onSubmitUpdate(formEdit)" novalidate>
    <fieldset [disabled]="!canSubmit">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Actualizar informacion</h5>
      </div>
      <div class="modal-body">

        <input name="id" [(ngModel)]="proveedorSeleccionado.id" hidden>

        <div class="form-group">
          <label>NIT</label>
          <input name="nit" type="text" class="form-control" [readonly]="'true'"
            [(ngModel)]="proveedorSeleccionado.nit">
        </div>

        <div class="form-group">
          <label>Razon Social</label>
          <input name="razonSocial" type="text" class="form-control" [(ngModel)]="proveedorSeleccionado.razonSocial">
        </div>

        <div class="form-group">
          <label>Telefono</label>
          <input name="telefono" type="text" class="form-control" [(ngModel)]="proveedorSeleccionado.telefono">
        </div>

        <div class="form-group">
          <label>Tipo</label>
                <select name="esGranSuperficie" class="form-control" [(ngModel)]="proveedorSeleccionado.esGranSuperficie">
                  <option [ngValue]="true">Gran superficie</option>
                  <option [ngValue]="false">Minorista</option>
                </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-round" (click)="modal.close('Save click')">Cerrar</button>
        <button type="submit" class="btn btn-outline-danger btn-round">
          Actualizar
        </button>
      </div>
    </fieldset>
  </form>
</ng-template>