<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/vehicles']">ANGULAR TEST</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" >
                    <a [routerLink]="['/ventas']" class="nav-link">Ventas</a>
                </li>
                <li class="nav-item" >
                    <a [routerLink]="['/clientes']" class="nav-link">Clientes</a>
                </li>
                <li class="nav-item" >
                    <a [routerLink]="['/productos']" class="nav-link">Productos</a>
                </li>
                <li class="nav-item" >
                    <a [routerLink]="['/proveedores']" class="nav-link">Proveedores</a>
                </li>
                <li class="nav-item" >
                    <a [routerLink]="['/historico']" class="nav-link">Historico</a>
                </li>
                <li class="nav-item" >
                    <a [routerLink]="['/reporte']" class="nav-link">Reporte</a>
                </li>

                <li class="nav-item" >
                    <a class="nav-link" rel="tooltip" title="Perfil en Linkedin" data-placement="bottom" href="https://www.linkedin.com/in/edwin-mancilla-bermudez/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                        <p class="d-lg-none">Linkedin</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
