<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="name">
                        <h4 class="title">Reporte de ventas</h4>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                                <fieldset [disabled]="!canSubmit">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Cliente</label>
                                                <ng-autocomplete 
                                                    [data]="clientes" [searchKeyword]="'nombreCompleto'"
                                                    [itemTemplate]="itemTemplateClient" name="cliente"
                                                    placeholder="Escriba el nombre del cliente" ngModel >
                                                </ng-autocomplete>

                                                <ng-template #itemTemplateClient let-item>
                                                    <a href="javascript:void(0)">
                                                        <span [innerHTML]="item.nombreCompleto"></span>,
                                                        <span [innerHTML]="item.cedula"></span>
                                                    </a>
                                                </ng-template>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Valor</label>
                                                <select name="valorMinimo" class="form-control" ngModel>
                                                    <option value="">-</option>
                                                    <option value="50000">> 50.000</option>
                                                    <option value="100000">> 100.000</option>
                                                    <option value="200000">> 200.000</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Año</label>
                                                <select name="anio" class="form-control" ngModel>
                                                    <option value="">Todos</option>
                                                    <option value="2021">2021</option>
                                                    <option value="2020">2020</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Tipo</label>
                                                <select name="granSuperficie" class="form-control" ngModel>
                                                    <option value="" selected>Cualquiera</option>
                                                    <option value="1">Gran superficie</option>
                                                    <option value="0">Minorista</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>&nbsp;&nbsp;</label>
                                                <button type="submit"
                                                    class="btn btn-outline-danger btn-round btn-block">
                                                    Filtrar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Nit</th>
                                <th scope="col">Proveedor</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Valor Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of reporte; index as i">
                                <td>{{ item.proveedorNit }}</td>
                                <td>{{ item.proveedorRazonSocial }}</td>
                                <td>{{ item.volumen }} Facturas</td>
                                <td>{{ item.total | currency }}</td>
                                <td style="text-align: center;">
                                    <a (click)="openModal(detalleModal, item)"
                                        class="btn btn-link btn-default btn-table">Ver detalles</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #detalleModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Facturas de <b>{{itemSeleccionado.proveedorRazonSocial}}</b></h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Numero</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Valor Total</th>
                    <th scope="col">Registro</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of itemSeleccionado.facturas; index as i">
                    <td>{{ item.numero }}</td>
                    <td>{{ item.cliente }}</td>
                    <td>{{ item.total | currency }}</td>
                    <td>{{ item.registro | date: 'dd-MM-yyyy' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>