<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="name">
                        <h4 class="title">Historico de facturas</h4>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Numero</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Detalles</th>
                                <th scope="col">Valor Total</th>
                                <th scope="col">Registro</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of facturas; index as i">
                                <td>{{ item.numero }}</td>
                                <td>{{ item.cliente.nombreCompleto }}</td>
                                <td>{{ item.detalles.length }} Items</td>
                                <td>{{ item.total | currency }}</td>
                                <td>{{ item.registro | date: 'dd-MM-yyyy' }}</td>
                                <td style="text-align: center;">
                                    <a (click)="openModal(detalleModal, item)"
                                        class="btn btn-link btn-default btn-table">Ver detalles</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <ng-template #detalleModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Detalles de la factura <b>{{facturaSeleccionada.numero}}</b></h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Valor Unit.</th>
                    <th scope="col">Valor Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of facturaSeleccionada.detalles; index as i">
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>{{ item.valorUnitario | currency }}</td>
                    <td>{{ item.valorTotal | currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </ng-template>